/* Navigasyon ok butonları */
.swiper-button-next,
.swiper-button-prev {
  color: #fc5c50 !important;
  width: 40px !important;
  height: 40px !important;
  background-color: rgba(255, 255, 255, 0.8) !important;
  border-radius: 50% !important;
  transition: all 0.3s ease !important;
}

/* Pagination */
.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background: #db625a !important;
  opacity: 0.7 !important;
}

.swiper-pagination-bullet-active {
  background: #fc5c50 !important;
  width: 14px !important;
  height: 14px !important;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after,
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after{
    font-size: 20px !important;
}